@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
}
html{
    height: 100vh;
    width: 100wh;
}
.varela-round-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 550;
    font-style: normal;
  }
  
body{
    height: 100vh;
    width: 100%; 
}

h1{
    margin-bottom: 3%;
    font-size: 2svi;
}
form{
    display: flex;
    flex-direction: column;
}

.botaoLogar{
    background-color: #0E7490   ;
    color: white;
    width: 40%;
}
